nav {
    display: flex;
    margin: 3px;
    color:  #fff;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex: 1 1 100vw;
    background: #08080a;
    font-family: 'Chaney', "Seymour One","Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav a {
    text-decoration: none;
    color: inherit;
    margin: 5%;
    font-size: 15pt;
}

nav a:hover {
    color: rgb(0, 156, 255);
}